doctype html
html
    head
        block head
            script(src="javascripts/angular.min.js")
        block content
            H1 333测试页面 Angular.js

            .test2
                form(novalidate name="Form" ng-app="secondApp" ng-controller="SecondController")
                    label Name:
                        input(type="text" placeholder="Please input your name " name="name" ng-model="name" required)
                        span(style="color:red" ng-show="Form.name.$dirty && Form.name.$invalid ")
                            span(ng-show = "Form.name.$error.required") Username cannot be empty
                    label Email:
                        input(type="email" name="email" ng-model="email" required)
                        span( style="color:red" ng-show="Form.email.$dirty && Form.email.$invalid")
                            span(ng-show="Form.email.$error.required") 邮箱是必须的。
                            span( ng-show="Form.email.$error.email") 非法的邮箱地址。
                    button(ng-disabled="Form.name.$dirty && Form.name.$invalid ||  Form.email.$dirty && Form.email.$invalid") submit



            script(src="javascripts/first.js")
