doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
        script.
            $(document).ready(function () {
                $("#button").click(function () { //“登录”按钮单击事件
                    //获取用户名称
                    var Name = $(".name").val();
                    //获取输入性别
                    var Password = $(".password").val();
                    //开始发送数据
                    $.ajax
                    ({ //请求登录处理页
                        type: "POST",
                        url: "/test", //登录处理页
                        dataType: "html",
                        //传送请求数据
                        data: { name: Name, password : Password },
                        success: function (msg,name) { //登录成功后返回的数据
                            //根据返回值进行状态显示
                            var newmsg = JSON.parse(msg)
                            console.log(newmsg.msg)
                            if (newmsg.msg == true) {
                                alert(newmsg.name);
                                console.log("传输成功");
                            }
                            else {
                                alert("传输失败");
                                console.log("传输失败")
                            }
                        }
                    })
                })
            })
            

    body
        block content
        p hello world #{value}
        label#aaa 这里是标签2
        label 姓名
            input(type="text",class="name",placeholder="请输入")
        label 性别
            input(type="text",class="password",placeholder="请输入")
        button(name="submit",id = "button") 提交

